.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
  z-index: 5;
}
.container {
  text-align: center;
  line-height: 1.6;
  margin: 20px;
  color: #333;
}
