.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
